.block {
    padding: 45px;
    background: #fff;
    box-shadow: 0 0 25px rgba( 0, 0, 0, 0.4);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.small {
    width: 500px;
    height: 300px;
}

.medium {
    width: 700px;
    height: 600px;
}

.large {
    width: 1000px;
    height: 700px;
}

.column {
    flex-direction: column;
}

