.auth {
    height: 100vh;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-form-item-control-input-content{
    a {
        margin-left: 5px;
    }
}

.ant-result-extra {
    display: flex;
    justify-content: center;
}