.ant-card {
    width: 30%;
    border: 2px solid #1a9b2f !important;
    margin-top: 20px;
}

.ant-card-body {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,h3 {
        width: 100%;
        text-align: center; 
    }

    

    .ad__info {
        margin-top: 20px;
        flex-direction: column;
        
        &--cardImage {
            width: 500px;
            height: 300px;
        }
        
        .ant-empty {
            width: 500px;
            height: 200px;
            justify-content: center;
        }
    }
}

.created__by {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;

    &--user {
        width: 50%;

    }

    &--userAvatar {
        width: 50%;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #5ACC6D;
    }

    &--userInfo{
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--userName {
        font-size: 22px;
        font-weight: normal;
    }
    
    &--userPhone {
        font-size: 16px;
        
    }

    &--address {
        align-items: center;
    }
}