header {
    
    width: 100%;
    height: 70px;
    background-color: #5ACC6D;
    justify-content: space-around;
    align-items: center;

    .title {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .title-name {
        text-transform: uppercase;
        color: #ffff;
        font-size: 20px;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
     }

    img {
        width: 50px;
    } 

    .menu {
        height: fit-content;
        background-color: initial;
        border: none;
        
        li {
            font-family: 'Comfortaa', sans-serif;
            color: #ffff;
        }    
    }

    .search-input {
        max-width: 200px;
        height: 30px;
    }
    
    .user-avatar {    
        font-size: 20px;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: .4s;
        color: #000;
    }

    .user-avatar:hover {
        transform: scale(1.2);
        transition: .4s ;
    }
    .link {
        color: #fff !important;
    }

    .login_btn {
        cursor: pointer;
        text-align: center;
        padding: 5px 10px;
        min-width: 100px
    }
}
