@import './styles/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul, li, div, body, main, section, aside, article, header, footer, nav {
    // display: flex;
    // flex-direction: row;
}

ul, li {
    list-style: none;
}

button {
    border: none;
    background-color: initial;
    cursor: pointer;
}

a[href], li {
    text-decoration: none;

}

#app {
    width: 100%;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.d-block {
    display: block;
}
.d-grid {
    display: -ms-grid;
    display: grid;
}
.d-ib {
    display: inline-block;
}

.align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.align-items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.justify-content-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify-content-around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.justify-content-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

